<main>
        <form method="POST">
            <h1>Register</h1>

            <p>Personal info</p>
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="JustMyself123..." name="username">

            <label for="password">Password</label>
            <input id="password" type="password" placeholder="******" name="password">

            <label for="passwordRepeat">Repeat Password</label>
            <input id="passwordRepeat" type="password" placeholder="******" name="passwordRepeat">
            <hr>
            <p>Account</p>
            <label for="amount">Amount</label>
            <input id="amount" type="text" placeholder="$125.90" name="amount">

            <button type="submit">Register</button>
        </form>
    </main>
